.status {
  display: flex;
  align-items: center;
}

.status_orange {
  color: var(--color-warning);
}

.status_green {
  color: var(--color-success);
}

.status_red {
  color: var(--color-danger);
}

.status__text {
  margin-left: 0.333333rem;
  font-size: 1rem;
  line-height: 1;
}

.status__icon {
  width: 24px;
  height: 1.222222rem;
}

.status__icon svg {
  width: 100%;
  height: 100%;
}
